/* -----------------------------------------------------------------------

Default Project Styles to Get You Started

~ TT 3.12.2012
----------------------------------------------------------------------- */
/* Let's include some mixins using scss!! */
@font-face {
  font-family: 'GnuolaneRegular';
  src: url("fonts/gnuolane_rg-webfont.eot");
  src: url("fonts/gnuolane_rg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gnuolane_rg-webfont.woff") format("woff"), url("fonts/gnuolane_rg-webfont.ttf") format("truetype"), url("fonts/gnuolane_rg-webfont.svg#GnuolaneRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Now let's include some global styles for standard things like hidden elements! */
.hide {
  display: none; }

.success::before {
  position: relative;
  float: right;
  content: "";
  width: 48px;
  height: 48px;
  margin: -17px -32px 0;
  background: url(../images/bg-success.png) no-repeat; }

/* Now let's start customizing our document eleme

	letter-spacing: .024em;
	-webkit-transition: font-size .7s linear;
	-moz-transition: font-size .7s linear;
	-o-transition: font-size .7s linear;
	-ms-transition: font-size .7s linear;
	transition: font-size .7s linear;nts in the order in which they appear in the document. SCSS really helps to make this readable! */
body {
  height: 100%;
  font-size: 13px;
  font-family: Helmet, Freesans, sans-serif;
  background: url(../images/bg-background.png) repeat; }

header {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
  background: url(../images/bg-header.gif) repeat; }
  header .container {
    height: 100px;
    position: relative; }
  header h1 {
    margin: 0;
    color: white;
    font-size: 4em;
    padding-top: 20px;
    text-shadow: 0 4px 0px black;
    font-family: "GnuolaneRegular", Arial, sans-serif;
    letter-spacing: .024em;
    -webkit-transition: font-size .7s linear;
    -moz-transition: font-size .7s linear;
    -o-transition: font-size .7s linear;
    -ms-transition: font-size .7s linear;
    transition: font-size .7s linear; }
  header menu {
    position: absolute;
    right: 0;
    bottom: 5px;
    margin: 0;
    padding: 0; }
    header menu ul {
      margin: 0;
      padding: 4px;
      height: 20px;
      list-style: none;
      border-radius: 4px;
      box-shadow: 0 0 2px black;
      color: white;
      text-shadow: 0 1px 0 #063433;
      background: #3fc0c6;
      /* Old browsers */
      background: -moz-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fc0c6), color-stop(100%, #2f7793));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
      /* IE10+ */
      background: linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fc0c6', endColorstr='#2f7793',GradientType=0 );
      /* IE6-9 */ }
      header menu ul a {
        color: white;
        text-decoration: none;
        text-shadow: 0 1px 0 #063433; }
        header menu ul a:hover {
          color: white;
          text-decoration: none;
          text-shadow: 0 1px 0 #063433; }
        header menu ul a:visited {
          color: white;
          text-decoration: none;
          text-shadow: 0 1px 0 #063433; }
      header menu ul li {
        display: block;
        float: left;
        width: 110px;
        font-size: 1.2em;
        text-align: center; }
        header menu ul li.sep {
          width: 1px;
          opacity: .2;
          text-shadow: none; }

#wrapper {
  height: 100%; }
  #wrapper::after {
    content: "";
    display: block;
    clear: both;
    height: 130px; }

content {
  /* LIST #2 */ }
  content h2 {
    font-family: "GnuolaneRegular", "Open Sans Condensed", sans-serif;
    margin: 0 0 .5em;
    color: #3FC0C6;
    font-size: 2.6em;
    text-shadow: 0 1px 1px #063433;
    border-bottom: 2px dashed #d9d9d9; }
  content p {
    font-size: 1.5em; }
  content .list {
    float: left;
    width: 320px;
    padding: 20px;
    background: #1B2426;
    border-radius: 4px;
    margin-right: 20px; }
    content .list label {
      display: block;
      color: #3FC0C6;
      font-size: 2em;
      margin-left: 10px;
      padding-left: 10px;
      font-weight: normal;
      margin-bottom: 10px;
      border-left: 4px solid white;
      font-family: "GnuolaneRegular","Open Sans Condensed",sans-serif; }
    content .list ol {
      margin: 0;
      color: #bfe1f1;
      font-size: 24px;
      font-style: italic;
      font-family: Georgia, Times, serif; }
      content .list ol:last-child::after {
        content: "";
        display: block;
        clear: both; }
      content .list ol li {
        /*float:left;
        width:49%;
        display:list-item;
        */ }
        content .list ol li p {
          margin: 0;
          color: #eee;
          padding: 8px;
          font-size: 13px;
          font-style: normal;
          font-family: Arial;
          border-left: 1px solid #999; }
          content .list ol li p em {
            display: block; }
  content section {
    clear: both;
    margin-top: 10px; }
    content section::after {
      contents: "";
      display: block;
      height: 0;
      width: 0;
      clear: both; }
    content section .component {
      position: relative;
      padding: 20px;
      border-radius: 4px;
      background: #F1f1f1;
      border: 4px solid #d2d2d2;
      box-shadow: 0 0 5px black; }
      content section .component.centerImage::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 50%;
        width: 128px;
        height: 128px;
        margin-left: -64px;
        background: url(../images/bg-wordpress.png) no-repeat; }
      content section .component.centerImage::after {
        content: "";
        display: block;
        clear: both; }
      content section .component #l, content section .component #r {
        width: 49%; }
        content section .component #l p, content section .component #r p {
          margin: 0;
          padding: 0; }
      content section .component #l {
        float: left; }
      content section .component #r {
        float: right; }
      content section .component #l::before, content section .component #r::before {
        content: "";
        width: 64px;
        height: 128px; }
      content section .component #l::before {
        float: right; }
      content section .component #r::before {
        float: left; }
      content section .component.mug::before {
        content: "";
        display: block;
        float: right;
        width: 128px;
        height: 128px;
        margin: 0 -64px 0 10px;
        background: url(../images/bg-mug.png) no-repeat; }
      content section .component.blend::before {
        content: "";
        display: block;
        float: left;
        width: 128px;
        height: 128px;
        margin: 0 10px 0 -64px;
        background: url(../images/bg-blend.png) no-repeat; }
    content section .span-8 .component {
      padding-top: 40px;
      border: 4px solid #063433; }
      content section .span-8 .component::before {
        color: white;
        text-shadow: 0 1px 0 #063433;
        background: #3fc0c6;
        /* Old browsers */
        background: -moz-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fc0c6), color-stop(100%, #2f7793));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* IE10+ */
        background: linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fc0c6', endColorstr='#2f7793',GradientType=0 );
        /* IE6-9 */
        text-shadow: 0 1px 0 #063433;
        content: attr(rel);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        color: white;
        font-size: 1.8em;
        text-align: center;
        font-family: "GnuolaneRegular", "Open Sans Condensed", sans-serif; }
        content section .span-8 .component::before a {
          color: white;
          text-decoration: none;
          text-shadow: 0 1px 0 #063433; }
          content section .span-8 .component::before a:hover {
            color: white;
            text-decoration: none;
            text-shadow: 0 1px 0 #063433; }
          content section .span-8 .component::before a:visited {
            color: white;
            text-decoration: none;
            text-shadow: 0 1px 0 #063433; }
      content section .span-8 .component::after {
        color: white;
        text-shadow: 0 1px 0 #063433;
        background: #3fc0c6;
        /* Old browsers */
        background: -moz-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fc0c6), color-stop(100%, #2f7793));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* IE10+ */
        background: linear-gradient(top, #3fc0c6 0%, #2f7793 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3fc0c6', endColorstr='#2f7793',GradientType=0 );
        /* IE6-9 */
        text-shadow: 0 1px 0 #063433;
        content: "read more...";
        position: absolute;
        display: block;
        bottom: -38px;
        right: -4px;
        width: 40%;
        height: 30px;
        color: white;
        font-size: 1.5em;
        text-align: left;
        border-radius: 4px;
        padding: 0 0 0 8px;
        box-shadow: 0 4px 0 #063433; }
        content section .span-8 .component::after a {
          color: white;
          text-decoration: none;
          text-shadow: 0 1px 0 #063433; }
          content section .span-8 .component::after a:hover {
            color: white;
            text-decoration: none;
            text-shadow: 0 1px 0 #063433; }
          content section .span-8 .component::after a:visited {
            color: white;
            text-decoration: none;
            text-shadow: 0 1px 0 #063433; }

footer {
  clear: both;
  width: 100%;
  color: #999;
  height: 30px;
  font-size: .9em;
  margin-top: -30px;
  box-shadow: 0 0 5px black;
  border-top: 1px solid #333;
  background: url(../images/bg-header.gif) repeat; }
  footer .container span {
    display: block;
    float: right;
    padding-top: 5px; }
